/* =========================== LOADING ANIMATION ===========================*/
/* https://codepen.io/michito/pen/NAYPvP?editors=1100 */
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
	50% {
		-webkit-filter: blur(1px);
		filter: blur(1px);
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
}

#top1 {
	transform-origin: bottom center;
	animation: move_top1 ease-out 1.2s;
	animation-iteration-count: infinite;
}

@keyframes move_top1 {
	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(-1.5%, -25%) scale(1.3) rotate(-0.5deg);
	}
	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
}

#top2 {
	transform-origin: bottom left;
	animation: move_top2 ease-out 1.2s;
	animation-iteration-count: infinite;
}

@keyframes move_top2 {
	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(-10%, 1%) scale(1.1) rotate(-2.1deg);
	}
	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
}

#bottom1 {
	transform-origin: top center;
	animation: move_bottom1 ease-out 1.2s;
	animation-iteration-count: infinite;
}

@keyframes move_bottom1 {
	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(0%, 45%) scale(1.3) rotate(0deg);
	}
	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
}

#bottom2 {
	transform-origin: top left;
	animation: move_bottom2 ease-out 1.2s;
	animation-iteration-count: infinite;
}

@keyframes move_bottom2 {
	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(38%, 1%) scale(1.3) rotate(-3.5deg);
	}
	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
}

#bottom3 {
	transform-origin: top right;
	animation: move_bottom3 ease-out 1.2s;
	animation-iteration-count: infinite;
}

@keyframes move_bottom3 {
	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(12%, 5%) scale(1.1) rotate(-1deg);
	}
	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
}

#bottom4 {
	transform-origin: top left;
	animation: move_bottom4 ease-out 1.2s;
	animation-iteration-count: infinite;
}

@keyframes move_bottom4 {
	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(-12%, 5%) scale(1.1) rotate(0deg);
	}
	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}
}

svg {
	width: 300px;
	animation: animationFrames ease-in-out 1.2s;
	animation-delay: 0.05s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

@keyframes animationFrames {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
	}
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

.loaderBottom {
	margin-bottom: 5rem;
	margin-right: 0.5rem;
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spinss 2s linear infinite;
}

@keyframes spinss {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* =========================== CARD HOVER ANIMATION ===========================*/
/* Do an horizontal flip when you move the mouse over the flip box container */
.pokemon:hover .flip-card-inner,
.pokemon:active .flip-card-inner {
	transform: rotateY(180deg);
}

.pokemon:hover .flip-card-back,
.pokemon:active .flip-card-back {
	display: block;
	position: absolute;
	top: 10%;
	left: 0;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

@media (hover: none) {
	.pokemon:hover .flip-card-inner {
		transform: rotateY(0deg);
	}
}
