* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 20px;
	background: #efefbb;
	background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
	background: linear-gradient(to right, #e29f9f, #cabbef);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

h1 {
	letter-spacing: 3px;
	margin-top: 0.7rem;
}

nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

nav .title {
	display: flex;
	justify-content: left;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

nav .title > img {
	width: 60px;
	height: 60px;
}

nav .mobileSearch {
	display: none;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0.5rem;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	float: right;
}

nav ul li {
	margin: 0.2rem 1rem;
}

.wrapper {
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

.container {
	max-width: 1300px;
	width: 89%;
	overflow: hidden;
	margin: auto;
}

/* DROPDOWN MENU */
.dropbtn {
	background: white;
	color: black;
	padding: 12px 15px 15px 15px;
	font-size: 18px;
	font-weight: 600;
	border: 2px solid red;
	width: 160px;
	height: 45px;
	margin-left: 2rem;
}

.dropbtn:hover {
	background-color: rgb(255, 209, 209);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white !important;
	margin-left: 2rem;
	min-width: 160px;
	font-size: 18px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 50;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.dropdown-content a:hover {
	background: #9678e2 !important;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#gen1 {
	font-weight: 700;
	background-color: #cabbef;
}

/* RANDOM POKEMON GENERATOR BUTTON */
.randomPokemonGen {
	background: white;
	padding: 8px 10px 10px 10px;
	font-size: 20px;
	font-weight: 600;
	border: 2px solid red;
	cursor: pointer;
	width: 240px;
	height: 45px;
	text-align: center;
}

.randomPokemonGen:hover,
.randomPokemonGen:hover a {
	background: red;
	color: white;
}

.randomPokemonGen a {
	color: black;
	text-decoration: none;
	font-size: 15px;
}

/* FORM */
form.searchForm input[type="text"] {
	padding: 14px 10px 10px 33px;
	font-size: 17px;
	border: 2px solid red;
	float: left;
	width: 100%;
	height: 45px;
	background: white;
}

.searchForm {
	position: relative;
	width: 100%;
	float: right;
}

form.searchForm i {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translate(0%, -50%);
}

/* Clear floats */
form.searchForm::after {
	content: "";
	clear: both;
	display: table;
}

.mobileSearchBar {
	display: none;
}

/* POKEDEX CARD LAYOUT */
.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	display: none;
	list-style-type: none;
}

.pokemon {
	background-color: transparent;
	perspective: 1000px;
}

.img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	margin-left: 1.2rem;
	width: 120px;
	height: 120px;
	text-align: center;
}

.img-container img {
	max-width: 95%;
	height: 130px;
	width: auto;
}

.info {
	margin-top: 20px;
	text-align: center;
}

.number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.name {
	margin: 15px 0 7px;
}

.type {
	font-size: 15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	background-color: #eee;
	border-radius: 20px;
	border: 2px solid black;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 180px;
	min-height: 290px;
	height: auto;

	position: relative;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Style the back side */
.flip-card-back {
	display: none;
	background-color: transparent;
	color: white;
	transform: rotateY(180deg);
}

.flip-card-back .stats {
	list-style-type: none;
	text-align: left;
	font-size: 16px;
	padding: 1rem;
}

.flip-card-back .stats li span {
	font-size: 14px;
}

.loadMore {
	margin-top: 4rem;
	margin-bottom: 3rem;
	display: none;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

.loadMore > p {
	margin-top: 0.1rem;
}

/* RESPONSIVE */
@media (max-width: 1245px) {
	nav .title {
		font-size: 17px;
	}

	nav .title > img {
		width: 45px;
		height: 45px;
	}

	form.searchForm input[type="text"] {
		padding: 7px 5px 5px 32px;
		font-size: 15px;
	}

	nav ul {
		padding: 0.2rem;
	}

	nav ul li {
		margin: 0.2rem;
	}
}

@media (max-width: 1055px) {
	.container {
		width: 95%;
	}
	.dropbtn {
		padding: 9px 9px 9px 11px;
		font-size: 15px;
		width: 120px;
		height: 40px;
		margin-left: 1rem;
	}

	.dropdown-content {
		margin-left: 1rem;
		font-size: 15px;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		cursor: pointer;
	}

	/* RANDOM POKEMON GENERATOR BUTTON */
	.randomPokemonGen {
		padding: 9px 9px 9px 11px;
		font-size: 15px;
		width: 240px;
		height: 40px;
	}

	form.searchForm input[type="text"] {
		height: 40px;
	}

	form.searchForm button {
		width: 18%;
		height: 40px;
		padding: 5px;
		font-size: 15px;
	}
}

@media (max-width: 920px) {
	.poke-container {
		width: 100%;
	}

	.flip-card-inner {
		border: 1.5px solid black;
		margin: 5px 5px;
	}
}

.mobile {
	display: none;
}

@media (max-width: 875px) {
	nav {
		display: flex;
		float: left;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 1rem;
		overflow-x: hidden;
	}

	nav ul li {
		display: none;
	}

	.title {
		width: 30%;
	}

	nav .mobileSearch {
		display: flex;
		height: 20px;
		width: 30px;
		position: absolute;
		top: 15px;
		right: 12%;
		display: inline-block;
		vertical-align: middle;
		z-index: 20;
		color: black;
		cursor: pointer;
	}

	nav .menu.mobile li {
		display: block;
	}

	.menu__icon {
		height: 20px;
		width: 30px;
		position: absolute;
		top: 15px;
		right: 5%;
		display: inline-block;
		vertical-align: middle;
		z-index: 20;
		cursor: pointer;
	}

	.menu__icon span {
		display: block;
		background: red;
		width: 80%;
		height: 4px;
		margin-top: -2px;
		position: absolute;
		left: 20%;
		top: 50%;
	}

	.menu__icon:before,
	.menu__icon:after {
		content: "";
		display: block;
		background: black;
		width: 100%;
		height: 4px;
		position: absolute;
		left: 0;
		transform-origin: center center;
		transform: rotate(0deg);
		transition: all 0.3s ease;
	}

	.menu__icon:before {
		top: 2px;
		margin-top: -2px;
	}

	.menu__icon:after {
		bottom: 2px;
		margin-bottom: -2px;
	}

	.menu_shown .menu__icon span {
		background: transparent;
	}

	.menu_shown .menu__icon:before {
		top: 50%;
		transform: rotate(45deg);
	}

	.menu_shown .menu__icon:after {
		bottom: 50%;
		transform: rotate(-45deg);
	}

	.mobile.menu {
		display: block;
		position: absolute;
		top: 40px;
		left: 53%;
		width: 45%;
		min-height: 10vh;

		text-align: center;
		background: #ffffffe3;
		z-index: 10;
		transition: all 0.4s ease-in-out;
		transform: translateX(155%);
	}

	#gen1-m {
		font-weight: 700;
		background-color: #cabbef;
	}

	.menu_shown .mobile.menu {
		display: block;
		transform: translateX(0);
	}

	.mobile .menu__item {
		display: block;
		padding: 12px 0;
		border-bottom: 1px solid black;
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 20px;
		cursor: pointer;
	}

	.mobile .menu__item:active {
		background: #cabbef;
		font-weight: 700;
	}

	.mobileSearchBar {
		display: none;
	}

	.mobileSearchBarShown {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin: 0 1rem 1.5rem 0;
		animation: fadeIn ease 1s;
		-webkit-animation: fadeIn ease 1s;
		-moz-animation: fadeIn ease 1s;
		-o-animation: fadeIn ease 1s;
		-ms-animation: fadeIn ease 1s;
	}
}

@media (max-width: 430px) {
	.container {
		width: 100%;
	}

	.flip-card-inner {
		border: 0px solid black;
		margin: 5px 1px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
